<div class="container-fluid mt-5 about-style " id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow with us</p>
            <div class="row">
                <div class="col-12 col-md-6 hero-text">
                    <figure>
                        <img src="images/about.svg" alt="bhav">
                    </figure>
                </div>
                <div class="col-12 col-md-6 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>REAL ESTATE 🏘</h1>
                    <p>Welcome</p>
                    <p>Whether you’re buying, selling or renting, we can help you move forward.</p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>
            </div>

        </div>
    </div>
</div>