<div class="container-fluid mt-5" id="heroid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-12 col-md-6 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU</h1>
                        <h1>TO FIND YOUR HOME</h1>
                        <p>We are team of property dealers✌</p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    <div class="col-12 col-md-6 hero-text">
                        <figure>
                            <img src="images/growth.svg" alt="bhav" >
                        </figure>
                    </div>
                </div>
                
            </div>
        </div>
    </div>