<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" id="logo">Bhavika</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#heroid">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#aboutid">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#serviceid">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#contactid">Contact</a>
              </li>


            </ul>

          </div>
        </div>
      </nav>
    </div>
  </div>
</div>