<div class="container-fluid mt-5 service-style " id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">Grow with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-service settings">
                            <div class="icon">
                                {{!-- <img src="" alt="hello"> --}}
                            </div>
                            <h2>Jewels</h2>
                            <p>Jewel Of India, Jawahar Lal Nehru Marg, opp. Jaipur Stock Exchange, Sector 9, Malviya
                                Nagar, Jaipur, Rajasthan 302018</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-service settings">
                            <div class="icon">
                                {{!-- <img src="" alt="hello"> --}}
                            </div>
                            <h2>The Crest</h2>
                            <p>LA-4, Jawahar Circle, Sudarshan Enclave, Govind Vihar, Surajpura, Durgapura, Jaipur,
                                Rajasthan 302018</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-service settings">
                            <div class="icon">
                                {{!-- <img src="" alt="hello"> --}}
                            </div>
                            <h2>Vista</h2>
                            <p> Sitapura Industrial Area, Sitapura, Jaipur, Rajasthan 302022
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-service settings">
                            <div class="icon">
                                {{!-- <img src="" alt="hello"> --}}
                            </div>
                            <h2>Fs</h2>
                            <p>The Crest, Suite 9, A-4 Airport Enclave, near Marriott, Jaipur, Rajasthan 302018</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-service settings">
                            <div class="icon">
                                {{!-- <img src="" alt="hello"> --}}
                            </div>
                            <h2>Mangalam</h2>
                            <p>Plot No. 1, Airport Plaza, Tonk Rd, Chandrakala Colony, Durgapura, Jaipur, Rajasthan
                                302016</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-service settings">
                            <div class="icon">
                                {{!-- <img src="" alt="hello"> --}}
                            </div>
                            <h2>Virasat</h2>
                            <p>2-3, Dalda Factory Rd, Mahavir Nagar, Mahaveer Nagar, Durgapura, Jaipur, Rajasthan 302020
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>